body {
    font-family: 'Press Start 2P', cursive, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8B4513; /* Dark brown background */
}

.container {
    text-align: center;
    margin-top: 50px;
    color: #fff; /* White text color */
}

.heading {
    font-size: 36px;
    color: #FFF8DC; /* Antique white color */
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image {
    margin: 10px;
    cursor: pointer;
}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.guess-container {
    margin-top: 20px;
}

#guessInput {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid #D2691E; /* Chocolate color border */
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #D2691E; /* Chocolate color */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.btn:hover {
    background-color: #8B4513; /* Darker chocolate color on hover */
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #00FF00; /* Green color for correct guess */
}
